<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="our-webcoderskull padding-lg">
  <div class="container">
    <div class="row heading heading-icon">
        <h2>Integrantes de One Techno</h2>
    </div>
    <ul class="row">
      <li class="col-12 col-md-6 col-lg-12">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img class="border_img" src=" https://scontent.faep9-2.fna.fbcdn.net/v/t39.30808-6/279424005_1357839691401337_3950178029358842359_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeGPuheo3u4Owbxeq0YPpSYLwtO0NKOQeFHC07Q0o5B4USQQdB26VPlnbKgVgtm4o2ALTxCm2drwiSdbvN5DDa73&_nc_ohc=1kF40GNWP9YAX9_Hyvq&_nc_ht=scontent.faep9-2.fna&oh=00_AT8iKABbRZ8e14AFL2kT4wZqnFj-D6PHdH-dLIW2mGPQ8w&oe=62751A0D" alt=""></figure>
            <h2>Mariano Collazo</h2>
            <h6 class="Descripcion_Equipo">Tecnico en computacion y estudiante de C.E.T. Nº30</h6>
            
            <h6 class="Descripcion_Equipo">Estudiando para junior full stack developer</h6>
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook"  aria-hidden="true"></i></a></li>
            </ul>
          </div>
       </li>
    </ul>
  </div>
</section>