<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="our-webcoderskull padding-lg">
  <div class="container">
    <div class="row heading heading-icon">
        <h2>Integrantes de One Techno</h2>
    </div>
    <ul class="row">
      <li class="col-12 col-md-6 col-lg-12">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src=" https://scontent.faep9-2.fna.fbcdn.net/v/t39.30808-6/247746086_1246819472503360_3250328294657597507_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=UuAPN9nh64IAX8GxaRT&_nc_ht=scontent.faep9-2.fna&oh=00_AT-WyyS-oklfObxuA2lrUg-i9dPAQY-6L784lCDUtZn8-w&oe=6262C1D6" class="img-responsive" alt=""></figure>
            <h3><a href="http://www.webcoderskull.com/">Mariano Collazo </a></h3>
            <p>Tecnico en computacion y estudiante de C.E.T. Nº30</p>
            
            <p>Estudiando para junior full stack developer</p>
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook"  aria-hidden="true"></i></a></li>
            </ul>
          </div>
       </li>
    </ul>
  </div>
</section>