
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Footer -->
	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="https://es-es.facebook.com/onetechno.cipolletti"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="https://twitter.com/iudica?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="https://www.instagram.com/?hl=es-la"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="https://www.google.com/search?q=vaca+minecraft&rlz=1C1ONGR_esAR966AR966&tbm=isch&source=iu&ictx=1&vet=1&fir=d8onPpL9TdaO3M%252COeSruqQVXdNqmM%252C_%253BlU3fDiWe7QCD3M%252C1orN6wJohIWcjM%252C_%253B-LQ5cu12vYmQOM%252CPXddGLnzQhqahM%252C_%253BZbxh1mF7GiB-MM%252CmHW9ppylX7rnzM%252C_%253BBoDQDdbar4yu2M%252CEJSG68pcUiwPDM%252C_%253BSsrD_MvLUl0RoM%252C3U8Wqx0ni3lcuM%252C_%253BWL-FTpVkXHsV7M%252C8xfpuos3wCRQvM%252C_%253B92gJrjSp650g8M%252COf0T5K9QNguyQM%252C_%253BQY6oXq0uUP4VAM%252CzVNiJtjRsibEgM%252C_%253BrhQF0KjKDgIMDM%252C1orN6wJohIWcjM%252C_%253BmylQcJkJsJvjyM%252CscMW_fAPorX0hM%252C_%253B5KUtBk8Q5B5jrM%252C1j-ty0GB5MDftM%252C_%253B9i9Td4frbJlPKM%252CvMSOBiOLd8ZnjM%252C_&usg=AI4_-kRga6O_lqDiiCRQmbdbLupsixbsmw&sa=X&ved=2ahUKEwis4q3hnOv2AhW9lZUCHfOJDrMQ9QF6BAgEEAE#imgrc=d8onPpL9TdaO3M"><i class="fa fa-google-plus"></i></a></li>
						<li class="list-inline-item"><a href="marianocollazo@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
				<hr>
			</div>	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p><u><a href="https://www.nationaltransaction.com/">Empresa nacional</a></u> Hecho en cipolletti</p>
					<p class="h6">© Derechos reservados.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">onetechno</a></p>
				</div>
				<hr>
			</div>	
		</div>	<!-- ./Footer -->