
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Footer -->
	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="https://es-es.facebook.com/onetechno.cipolletti"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="https://www.instagram.com/?hl=es-la"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="marianocollazo@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
				<hr>
			</div>	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					
					<p><u><a href="https://www.google.com/search?q=cipolletti&oq=cipolletti&aqs=chrome..69i57j0i512j0i457i512j0i512j46i175i199i512j0i512j69i60l2.2606j0j9&sourceid=chrome&ie=UTF-8">Empresa de Cipolletti</a></u> </p>
					<span class="font-weight-bold tg-col-menu1">Cipolletti</span><br><a href="tel:2996202185" class="tg-col-menu1"><span class="text-nowrap"><i class="fa fa-phone" aria-hidden="true"></i> 299 620 2185</span></a><br><span class="text-nowrap tg-col-menu1"><i class="fa fa-clock-o" aria-hidden="true"></i> Lu a Vie de 18:30 a 19:40 y Sab de 10:00 a 20:00 hs</span><br>
					<p class="h6">© Derechos Reservados.<a class="text-green ml-2" href="https://www.facebook.com/onetechno.cipolletti/" target="_blank">One Techno</a></p>
				
				</div>
				<hr>
			</div>	
			<div class="col mb-2">
		</div>	<!-- ./Footer -->