.card .carousel-item {
    height: 200px;
  }
  .card .carousel-caption {
    padding: 0;
    right: 0;
    left: 0;
    color: #ffffff;
  }
  .card .carousel-caption h3 {
    color: #ffffff;
  }
  .card .carousel-caption p {
    line-height: 30px;
  }
  .card .carousel-caption .col-sm-3 {
    display: flex;
    align-items: center;
  }
  .card .carousel-caption .col-sm-9 {
    text-align: left;
  }
  .navi a {
      text-decoration:none;
    
  }
  h2{
    color: rgb(58, 185, 107); font-family: Orbitron; font-size: 42px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 46.2px; } h3 { font-family: Orbitron; font-size: 28px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Orbitron; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Orbitron; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Orbitron; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }

  a > .ico {
      background-color: rgb(255, 153, 224);
      padding: 10px;
      
  }
  a:hover > .ico {
      background-color: rgb(161, 78, 157);
  }
  

  .card {

    background-color: rgb(31, 31, 31);

} 

.gal-item{
	overflow: hidden;
	padding: 10px;
}
.gal-item .box{
	height: 100%;
	overflow: hidden;
}
.box img{
	height: 100%;
	width: auto;
	object-fit:cover;
}
.row {	padding: 20px;
}