<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Orbitron" />
<!-- FUENTE -->
<div class="card col-md-6 mt-5 mb-5 my-0 mx-auto">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="100000">
    <div class="w-100 carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="carousel-caption">
          <div class="row">
            <div class="col-sm-3">
              <img src="https://scontent.faep9-3.fna.fbcdn.net/v/t1.6435-1/111385670_105137907954156_1197422310586610856_n.jpg?stp=dst-jpg_p320x320&_nc_cat=105&ccb=1-5&_nc_sid=7206a8&_nc_ohc=vWe2RcPEse4AX_r97rn&_nc_ht=scontent.faep9-3.fna&oh=00_AT-6U3ytWLCieYQ8jXVSvbeWt4YCjGsXdvaD9DPtSONcnA&oe=62676EDE" alt="" class="rounded-circle img-fluid"/>
            </div>
            <div class="col-sm-9">
              <h3>One techno Cipolletti</h3>
              <small>Servicio tecnico, acesoramiento de compra de pc y seleccion de productos acordes a sus necesidades. Todos los productos de tecnologia!</small>
              <small class="smallest mute">- Mariano Collazo</small>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-caption">
          <div class="row">
            <div class="col-sm-3">
              <img src="http://via.placeholder.com/200x200" alt="" class="rounded-circle img-fluid">
            </div>
            <div class="col-sm-9">
              <h3>You will love it.</h3>
              <small>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</small>
              <small class="smallest mute">- Yayo Dudemous</small>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-caption">
          <div class="row">
            <div class="col-sm-3">
              <img src="http://via.placeholder.com/200x200" alt="" class="rounded-circle img-fluid">
            </div>
            <div class="col-sm-9">
              <h3>Velvet pouch!</h3>
              <small>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</small>
              <small class="smallest mute">- Yayo Dudemous</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
  <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h2>Ofrecemos</h2>
  </div>


      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
          <img height="365" width="365" src="https://scontent.faep9-2.fna.fbcdn.net/v/t39.30808-6/228085504_342828977518380_1053149860319346033_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=730e14&_nc_ohc=nHUUQZEw364AX9ERDZ-&_nc_ht=scontent.faep9-2.fna&oh=00_AT8vlk0qeJBZ9n99FjDbcoWQ1z2XwWLwqyJkkCN2mS-Ybw&oe=62632326" class="img-responsive">
      </div>

      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
        <img height="365" width="365" src="https://scontent.faep9-2.fna.fbcdn.net/v/t39.30808-6/231399660_342828384185106_8814476952222025697_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=730e14&_nc_ohc=Br-jPjv1PMQAX-ikxxo&_nc_ht=scontent.faep9-2.fna&oh=00_AT-6F34yBWpLzAlnznKY2gAyF8XM9hICAU1svI5_mBeAqA&oe=6262B577" class="img-responsive">
      </div>

      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
        <img height="365" width="365" src="https://scontent.faep9-3.fna.fbcdn.net/v/t39.30808-6/232011751_342827887518489_3162681194833090773_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=730e14&_nc_ohc=tTlsEZyVM1EAX-ELInR&_nc_ht=scontent.faep9-3.fna&oh=00_AT-52Rd-gSBlS7I0AnSBoMLRRWj9LtU5udZy4daH5G7wuQ&oe=6261A7B9" class="img-responsive">
      </div>

      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
        <img height="365" width="365" src="https://scontent.faep9-1.fna.fbcdn.net/v/t39.30808-6/228472915_340102407791037_3973141015826727031_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=730e14&_nc_ohc=wePLAooUZoYAX97KM-B&_nc_ht=scontent.faep9-1.fna&oh=00_AT9dBuRzvI_OiXpd9ZdRPPqe0AYo66nl6HQMNv9nECSSkw&oe=6261C3F3" class="img-responsive">
      </div>

      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
        <img height="365" width="365" src="https://scontent.faep9-1.fna.fbcdn.net/v/t39.30808-6/223032510_336297528171525_8254332985923823578_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=730e14&_nc_ohc=zLwLlpVTPzUAX8IsAlp&_nc_ht=scontent.faep9-1.fna&oh=00_AT_uGj9Vt4-DMrnIoDDThx77GYwR2rMHpcagbSU-xzeakg&oe=626303BF" class="img-responsive">
      </div>

      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
        <img height="365" width="365" src="https://scontent.faep9-2.fna.fbcdn.net/v/t39.30808-6/191083617_327365915731353_4273220900570004636_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=730e14&_nc_ohc=njYJX38KpZUAX_svUod&_nc_ht=scontent.faep9-2.fna&oh=00_AT-SzA0O9jafWPh5c9-PMimj6m1EZZPh3hdUIwhAguCSJw&oe=62633D1F" class="img-responsive">
      </div>

      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
        <img height="365" width="365" src="https://scontent.faep9-1.fna.fbcdn.net/v/t39.30808-6/181622250_327365872398024_5222511364684741067_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=730e14&_nc_ohc=Zj5RQ7JgPUAAX-nx_-h&_nc_ht=scontent.faep9-1.fna&oh=00_AT_M0s65BLSI_oCadzjRlO7vC4krnFBB0KM3sa30xSmeCw&oe=62618754" class="img-responsive">
      </div>

      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
        <img height="365" width="365" src="https://scontent.faep9-2.fna.fbcdn.net/v/t39.30808-6/217880861_323497352784876_753858318781684994_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=730e14&_nc_ohc=fxA4SgulP7gAX8jyFqn&_nc_ht=scontent.faep9-2.fna&oh=00_AT_153ozASja5S3vYokPiFNPnFT-28vkAAncrxZvO4RA6g&oe=62616472" class="img-responsive">
      </div>

      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
        <img height="365" width="365" src="https://scontent.faep9-2.fna.fbcdn.net/v/t1.6435-9/199203906_304458071355471_8026824572531004536_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=730e14&_nc_ohc=lbpiB5FMmekAX9S7pkZ&_nc_ht=scontent.faep9-2.fna&oh=00_AT_2aCsZKG577ekmIRQMsSLdbnaQpreeNa7MNHVKrIOGjw&oe=62837986" class="img-responsive">
      </div>

      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
        <img height="365" width="365" src="https://scontent.faep9-1.fna.fbcdn.net/v/t1.6435-9/200816456_304457274688884_5532993966296851958_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=730e14&_nc_ohc=yXVEHZA89XEAX9Vt7dw&_nc_ht=scontent.faep9-1.fna&oh=00_AT_djk7khF1iqpiGxGwoKvDoipI_YOq3cjVYA-wsEBdUng&oe=628125A1" class="img-responsive">
      </div>

      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
        <img height="365" width="365" src="https://scontent.faep9-2.fna.fbcdn.net/v/t1.6435-9/185020511_282200230247922_6014899939715227456_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=730e14&_nc_ohc=o6RkYkDbaWYAX8L5vCy&_nc_ht=scontent.faep9-2.fna&oh=00_AT86zjli-rZxitCOYH08nGRwalOCr3sFJLYeTHDTFNmdcQ&oe=62835752" class="img-responsive">
      </div>

      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
        <img height="365" width="365" src="https://scontent.faep9-3.fna.fbcdn.net/v/t39.30808-6/241779900_363734832094461_8794626443974520007_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=730e14&_nc_ohc=Q46X9sxGuCMAX95-GCD&_nc_ht=scontent.faep9-3.fna&oh=00_AT_B1aB8Z0fuGpjctTw9yoW_MU5FHtGNZO8y9S9aGZQX6Q&oe=6261DE0E" class="img-responsive">
        </div>
  </div>
</div>