<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Orbitron" />
<!-- FUENTE -->
<div class="card col-md-6 mt-5 mb-5 my-0 mx-auto">
  
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="100000">
    <div class="w-100 carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="carousel-caption">
          <div class="row">
            
            <div class="col-sm-3">
              <img src="https://scontent.faep9-1.fna.fbcdn.net/v/t1.6435-9/110303220_105136494620964_2348392373452475_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=174925&_nc_eui2=AeHvfZtiC0ytueke21JDMh-Rp_B03100hRqn8HTfXTSFGpqZAMQSI2WzyNtljZO9LueNiesoUWZaX0t1d8J4eXcy&_nc_ohc=sjciJoy-kKMAX_N2mgH&_nc_ht=scontent.faep9-1.fna&oh=00_AT-5vDs8XXakJrIX26LfQGf1k6JAUmzSCouiOJ69vrwqeA&oe=62969F10" alt="" class="rounded-circle img-fluid"/>
            </div>
            <div class="col-sm-9">
              <button class="btn">
              <p class="words">One techno Cipolletti</p>
            </button>
              <p>Servicio tecnico, acesoramiento de compra de pc y seleccion de productos acordes a sus necesidades. Todos los productos de tecnologia!</p>
              <p class="smallest mute">- Mariano Collazo</p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-caption">
          <div class="row">
            <div class="col-sm-3">
              <img src="http://via.placeholder.com/200x200" alt="" class="rounded-circle img-fluid">
            </div>
            <div class="col-sm-9">
              <h3>You will love it.</h3>
              <small>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</small>
              <small class="smallest mute">- Yayo Dudemous</small>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-caption">
          <div class="row">
            <div class="col-sm-3">
              <img src="http://via.placeholder.com/200x200" alt="" class="rounded-circle img-fluid">
            </div>
            <div class="col-sm-9">
              <h3>Velvet pouch!</h3>
              <small>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</small>
              <small class="smallest mute">- Yayo Dudemous</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
  <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h2>¡Vendemos gran parte de articulos de tecnologia y llegamos en el momento!       <img width="50px" src="https://www.emoji.com/wp-content/uploads/filebase/3d%20icons/emoji-3d%20icons-glossy-3d-icons-sports-car-green-72dpi-forPersonalUseOnly.gif" alt="">
      </h2>
    </div>


      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
          <img height="365" width="365" src="https://scontent.faep9-2.fna.fbcdn.net/v/t39.30808-6/245358761_381644080303536_709837011757895498_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeFt5UVnC9m8M5_pxeyPtVAQ4ZYBJiFjORXhlgEmIWM5FdNfA-xtdq3ThDpse5RTX91Mgdr35bPiHs9_pdOwx9Fw&_nc_ohc=1Ee-RciFd1IAX8c2LZb&tn=2dmTlVvYY8Gh3TUA&_nc_ht=scontent.faep9-2.fna&oh=00_AT8hI0EhTXEuwejNW82qySnxCXBkDB-04I0MjNPyF9k2BQ&oe=6275A56B" class="img-responsive">
      </div>

      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
        <img height="365" width="365" src="https://scontent.faep9-2.fna.fbcdn.net/v/t39.30808-6/244265614_379510353850242_2250350070008108183_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeHaz2vQjI0CEo1gIuDrI3PBxIybyRyR3KbEjJvJHJHcpkhGUp5q6i2MYsyxSpvI9P0SkMlmgV2VgVRJalQBKDZj&_nc_ohc=rHhWv-C3rB4AX-Fy21W&_nc_ht=scontent.faep9-2.fna&oh=00_AT-DLdN_aoxe__E5gIHLpMAvsME5K1Za0ow9-Bc-mUShsA&oe=62767239" class="img-responsive">
      </div>

      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
        <img height="365" width="365" src="https://scontent.faep9-3.fna.fbcdn.net/v/t39.30808-6/243908404_376600900807854_1738163844848090668_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeESsZmKbdn3KFtPKPf4Xnj9e0wDbzjSfr17TANvONJ-vUKIwg4uOURZ1E83-BDuOq2fkKJe8QepVgwNn57nKnOK&_nc_ohc=4E_FZo33O94AX8P-5Pf&tn=2dmTlVvYY8Gh3TUA&_nc_ht=scontent.faep9-3.fna&oh=00_AT86RdYmyV2hKkMxoxCKnC8uDvZU7IU19xqcNc8WMQJzVg&oe=62750EFB" class="img-responsive">
      </div>

      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
        <img height="365" width="365" src="https://scontent.faep9-1.fna.fbcdn.net/v/t39.30808-6/241660197_363737575427520_7287331582054147299_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeGvSKSI_ynQlrhaQQN0ffcbmZNzwXaX8Z2Zk3PBdpfxnVvzsYfU0azjOYtiGnAwijoOmHOdup-oYetVBD03pni-&_nc_ohc=e4_0einwjAEAX-v9FH3&_nc_ht=scontent.faep9-1.fna&oh=00_AT9_BwLkmt8e0xcbNhlNzHDpgGFicr7sEhkif5jb_Q6NxQ&oe=6275B20D" class="img-responsive">
      </div>

      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
        <img height="365" width="365" src="https://scontent.faep9-3.fna.fbcdn.net/v/t39.30808-6/241843774_363734845427793_912726193470112445_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeHqq8BpdQwqkc2gLYLzeXLPsTu-a15Yfy2xO75rXlh_LeMxEFQtWZPU02BbP3FvYbknRigDOmTfkb2TZWrnfKIv&_nc_ohc=0kb1qXboQEcAX9PJ6_-&_nc_ht=scontent.faep9-3.fna&oh=00_AT81KrZZjl9aQ2-8uU7n3qNDeRLdqjtvmo9DrMSRlzD0gQ&oe=62762391" class="img-responsive">
      </div>

      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
        <img height="365" width="365" src="https://scontent.faep9-2.fna.fbcdn.net/v/t39.30808-6/241222320_361177865683491_4083234825999362880_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeFRa6v3meo4xneyGCa3iyIRsrTihG7osvWytOKEbuiy9VKSnSvJDDI26U2p_jtcXTAADqMy0wN9arpV9WVRPjaK&_nc_ohc=xQZ4wLx4TzEAX_sumvT&_nc_ht=scontent.faep9-2.fna&oh=00_AT8IovWU7fNftHmA-er6LkpNvvat2_S5YO-xwIfBy9-QkA&oe=6275FB45" class="img-responsive">
      </div>

      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
        <img height="365" width="365" src="https://scontent.faep9-1.fna.fbcdn.net/v/t39.30808-6/234839486_346130467188231_8133402571669061829_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeHlqadRPOVBxW4tUmtO9R2xPz_3wL6T_gQ_P_fAvpP-BEstQVkO0B2gUai3T46NcrfQBbxGeojJk5NR_kfpAM0f&_nc_ohc=I_BBnAa-IesAX-t-V7e&_nc_ht=scontent.faep9-1.fna&oh=00_AT-9Zg63ThtqsR1YaMSAUxTqWX24sw9jZbhKGqp-Vsr3qg&oe=6275193C" class="img-responsive">
      </div>

      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
        <img height="365" width="365" src="https://scontent.faep9-2.fna.fbcdn.net/v/t39.30808-6/223481054_336295114838433_1021035401842499649_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeGw-z-QYuVmcObbQRKWOmTCyfSf4o79r-DJ9J_ijv2v4CUeMQ8_XHbhwaW8kDMy2OzZBKHkIFCIkr4EDT71EoP0&_nc_ohc=_pjz4wkkthAAX9KpoX7&_nc_ht=scontent.faep9-2.fna&oh=00_AT-fdvqBiJ6W1w-VwaBmN8uzDPBtgwpq5KB5YijLVElBOw&oe=62769969" class="img-responsive">
      </div>

      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
        <img height="365" width="365" src="https://scontent.faep9-2.fna.fbcdn.net/v/t1.6435-9/199203906_304458071355471_8026824572531004536_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=730e14&_nc_ohc=lbpiB5FMmekAX9S7pkZ&_nc_ht=scontent.faep9-2.fna&oh=00_AT_2aCsZKG577ekmIRQMsSLdbnaQpreeNa7MNHVKrIOGjw&oe=62837986" class="img-responsive">
      </div>

      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
        <img height="365" width="365" src="https://scontent.faep9-1.fna.fbcdn.net/v/t1.6435-9/200816456_304457274688884_5532993966296851958_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=730e14&_nc_ohc=yXVEHZA89XEAX9Vt7dw&_nc_ht=scontent.faep9-1.fna&oh=00_AT_djk7khF1iqpiGxGwoKvDoipI_YOq3cjVYA-wsEBdUng&oe=628125A1" class="img-responsive">
      </div>

      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
        <img height="365" width="365" src="https://scontent.faep9-2.fna.fbcdn.net/v/t1.6435-9/185020511_282200230247922_6014899939715227456_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=730e14&_nc_ohc=o6RkYkDbaWYAX8L5vCy&_nc_ht=scontent.faep9-2.fna&oh=00_AT86zjli-rZxitCOYH08nGRwalOCr3sFJLYeTHDTFNmdcQ&oe=62835752" class="img-responsive">
      </div>

      <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
        <img height="365" width="365" src="https://scontent.faep9-1.fna.fbcdn.net/v/t39.30808-6/181622250_327365872398024_5222511364684741067_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeFx7KJD8Qbmae9MBUFKFtWg6oTJGFPbRLfqhMkYU9tEt5OR-Vc5DGmRHpixuCLaFPyxSypPPd8UtSuWgeUvo3hc&_nc_ohc=nG0erom6rOYAX87lHNX&_nc_ht=scontent.faep9-1.fna&oh=00_AT9NZobylefbdC_OYGtn0vRga5pCU0IAx0SmaJtUiCg_ow&oe=62754DD4" class="img-responsive">
        </div>
  </div>
</div>