<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!------ Include the above in your HEAD tag ---------->
<!------ Include the above in your HEAD tag ---------->

<div class="container">
<h2 class="words">Nuestros Proyectos</h2></div>

<div class="container-fluid">


<div class="row">
		<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
			<div class="block">
			<div class="btn">
									<h4>Indumentaria profecional</h4>
									<p>Junto a RS DEPORTIVO diseñamos las nuevas gorras que nos identifican como negocio </p>
								</div>
							</div>
						</div>

					<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
						<div class="block">
						<div class="btn">
									<h5>Regalos con tu compra</h5>
									<p>   Ahora comprando cualquier cosa de one techno que valga más de 1000$ te regalamos stickers</p>
								</div>
							</div>
						</div>

					<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
						<div class="block">
						<div class="btn">

									<h4>Envios a todo alto valle</h4>
									<p>Orgullosamente ya podemos realizar envios en toda la zona de alto valle</p>
								</div>

							</div>
					</div>

		

				</div>
				<h2	>¡No dudes en ver a nuestros clientes satisfechos! <a href="https://www.instagram.com/stories/highlights/17885592698221148/">ir</a></h2>
				<img width="1200" height="500" src="https://previews.123rf.com/images/wavebreakmediamicro/wavebreakmediamicro1409/wavebreakmediamicro140905661/31948597-conductor-de-la-entrega-de-pasar-paquetes-a-cliente-feliz-fuera-del-almac%C3%A9n.jpg" alt="">
			</div>

