<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!------ Include the above in your HEAD tag ---------->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
<!------ Include the above in your HEAD tag ---------->

<div class="container">
<h2 class="words">Nuestros logros</h2></div>

<div class="container-fluid">

			<div class="card mb-5 ">
				<div class="block">
				<img class="card-img-top" src="https://p4.wallpaperbetter.com/wallpaper/869/662/349/green-technology-razer-keyboards-wallpaper-preview.jpg" alt="Card image cap">
				<div class="card-body">
					
				  <h2	>¡No dudes en ver a nuestros clientes satisfechos! <a href="https://www.instagram.com/stories/highlights/17885592698221148/">ir</a></h2> 
				  <h4>Regalos con tu compra.</h4>
				  <p>   Ahora comprando cualquier cosa de one techno que valga más de 1000$ te regalamos stickers.</p>
				  <h4>Envios a todo alto valle.</h4>
				  <p>Orgullosamente ya podemos realizar envios en toda la zona de alto valle.</p>
				  <h4>Indumentaria profecional.</h4>
				  <p>Junto a RS DEPORTIVO diseñamos las nuevas gorras que nos identifican como negocio. </p>


				</div>
			</div>
			  </div>

