@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Roboto Mono");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 300;
  src: local('Dosis Light'), local('Dosis-Light'), url(http://fonts.gstatic.com/l/font?kit=RoNoOKoxvxVq4Mi9I4xIReCW9eLPAnScftSvRB4WBxg&skey=a88ea9d907460694) format('woff2');
}
@font-face {
  font-family: 'Dosis';
  
  font-style: normal;
  font-weight: 500;
  src: local('Dosis Medium'), local('Dosis-Medium'), url(http://fonts.gstatic.com/l/font?kit=Z1ETVwepOmEGkbaFPefd_-CW9eLPAnScftSvRB4WBxg&skey=21884fc543bb1165) format('woff2');
}
body {
  
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif,  Open Sans;
    font-size: 14px;
    line-height: 1.42857;
    height: 350px;
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255) !important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: rgb(216, 216, 216);
}
.p{
  color: rgb(217, 255, 222) !important;
}
.bannerimg {
  max-width: 100%;
  width: 100%;
  height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}
.banner{
margin: 0.67em 0;
font-size: 120px;
text-align: center;
z-index: 2;
}
.bannerdiv {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px;
  position: relative;
  z-index: 2;

}
.bannerP{
  margin: 0.67em 0;
  font-size: 20px;
  text-align: center;
  z-index: 2;
  color: rgb(73, 192, 133);
  }


  .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #3cff00;
    background-color: rgb(71, 71, 71);
    background-clip: padding-box;
    border: 1px solid #1f8530;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.fa-user,.fa-phone,.fa-globe, .fa-envelope, .fa-comment{
  color: #3cff00;
}